{% extends 'questions/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<div style="background-color: #146e6c; min-height: 100vh">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="row">
                <div class="col-md-12 mb-4">
                  <div class="card shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4" style="font-family: 'Times New Roman', Times, serif;">
                        Registrar Unidad Productiva
                      </h3>
                      <div class="mb-3">
                    <label class="form-label">{{ form.codigo.label }}</label>
                    {{ form.codigo|add_class:"form-control" }}
                    {{ form.codigo.errors }}
                </div>
                <div class="mb-3">
                    <label class="form-label">{{ form.razon_social.label }}</label>
                    {{ form.razon_social|add_class:"form-control" }}
                    {{ form.razon_social.errors }}
                </div>
                <div class="mb-3">
                    <label class="form-label">{{ form.renspa.label }}</label>
                    {{ form.renspa|add_class:"form-control" }}
                    {{ form.renspa.errors }}
                </div>
                <div class="mb-3">
                    <label class="form-label">{{ form.telefono.label }}</label>
                    {{ form.telefono|add_class:"form-control" }}
                    {{ form.telefono.errors }}
                </div>
                <div class="mb-3">
                    <label class="form-label">{{ form.email.label }}</label>
                    {{ form.email|add_class:"form-control" }}
                    {{ form.email.errors }}
                </div>
                <div class="mb-3">
                    <label class="form-label">{{ form.ubicacion.label }}</label>
                    {{ form.ubicacion|add_class:"form-control" }}
                    {{ form.ubicacion.errors }}
                </div>
                  </div>
                </div>
                
                <button type="submit" class="btn btn-outline-primary" style="margin-right: 4px; margin-top: 6px;">Guardar</button>
                <button class="btn btn-outline-success" style="margin-right: 4px; margin-top: 6px;"><a href="{% url 'listar_unidades_productivas' %}" class="text-decoration-none text-dark">Cancelar</a></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
