{% extends 'questions/base.html' %}
{% block content %}
<style>
    @page {
        size: A4 landscape; 
        margin: 20mm;
    }
    @page {
        @bottom-center {
            content: "Página " counter(page) " de " counter(pages);
        }
    }
    @media print {
        header, .navbar, .btn {
            display: none; /* Oculta los botones y navbar al imprimir */
        }
        .container {
            width: 100%; 
        }
    }
    tbody tr {
        font-size: 9pt;
    }
    .resultados {
        font-size: 12px;
        font-family: Arial;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .titulo-listado {
        font-size: 24px;
        text-align: center;
        margin-bottom: 15px;
    }
    .titulo-final-auditoria {
        font-size: 28px;
        font-family: Arial;
        text-decoration: underline;
        margin-bottom: 15px;
    }
    .valores {
        font-size: 14px;
        margin-left: 5px; 
        font-weight: 500;
        font-family: Arial;
    }
    .page-number {
        font-size: 10px;
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
    .resultado-final-bueno {
        font-size: 20px;
        font-weight: 800;
        text-decoration: underline;
        margin-top: 5px;
        text-align: center;
    }
    .resultado-final-malo {
        font-size: 20px;
        font-weight: 800;
        text-decoration: underline;
        margin-top: 5px;
        text-align: center;
    }
    .comentario-general {
        font-size: 11pt;
        font-style: italic;
        height: 100px;
    }
    .comentario-general-label {
        font-size: 10pt;
    }
    textarea {
        width: 100%;
    }
</style>
<div class="container custom-container">
    <h1 class="titulo-final-auditoria">Resultado de la Auditoría a {{auditoria.cliente}}</h1>
    <p class="resultados">Fecha: <span class="dato">{{ auditoria.fecha }}</span></p>
    <p class="resultados">Cliente: <span class="dato">{{ auditoria.cliente }}</span></p>
    <p class="resultados">Líneas de Producción Auditadas: <span class="dato">{{ auditoria.lineas_auditadas }}</span></p>
    <p class="resultados">Auditor líder: <span class="dato">{{ auditoria.auditor }}</span></p>
    <p class="resultados">Auditores acompañantes: <span class="dato">{{ auditoria.auditores_acompanantes }}</span></p>
    <hr>
    <h3 class="titulo-listado">Detalles de las Preguntas y Puntajes</h3>
    <table class="table table-sm">
        <thead>
            <tr>
                <th style="border: 2px solid black;">Pregunta</th>
                <th style="border: 2px solid black;">Respuesta</th>
                <th style="border: 2px solid black;">Puntaje</th>
                <th style="border: 2px solid black;">Observaciones</th> 
            </tr>
        </thead>
        <tbody>
            {% for respuesta in respuestas %}
            <tr>
                <td style="border: 1px solid black;" class="{% if respuesta.pregunta_predefinida.texto_critico %} texto-critico {% endif %}">
                    {{ respuesta.pregunta_predefinida }}
                </td>
                <td style="border: 1px solid black;">{{ respuesta.get_tipo_respuesta_display }}</td>
                <td style="border: 1px solid black;">{{ respuesta.puntaje }}</td>
                <td style="border: 1px solid black;">{{ respuesta.observaciones }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <div class="row">
    <div class="row col-md-6 cuadro-resultados">
        <div>
            <p style="font-size: 24px; color: rgb(58, 57, 57); text-decoration: underline;">Puntaje y Resultado</p>
            <p class="resultados">Puntaje máximo:<span class="valores">{{ resultados.puntaje_maximo }}</span></p>
            <p class="resultados">Puntaje obtenido:<span class="valores">{{ resultados.puntaje_obtenido }}</span></p>
            <p class="resultados">Porcentaje mínimo de aprobación:<span class="valores">75%</span></p>
            <p class="resultados">Porcentaje alcanzado:<span class="valores">{{ resultados.porcentaje_obtenido }}%</span></p>
            {% if resultados.porcentaje_obtenido >= 75 %}
            <h3 class="resultado-final-bueno">"ACEPTADO"</h3>
            {% else %}
            <h3 class="resultado-final-malo">"NO ACEPTADO"</h3>
            {% endif %}
            {% if resultados.cantidad_criticas %}
            <h3 class="resultado-final-malo">"NO CONFORMIDAD CRÍTICA"</h3>
            {% endif %}
        </div>
    </div>
    </div>
    <br>
    <div class="row col-md-6">
        <form id="auditoriaForm" method="post">
            {% csrf_token %}
            <label class="comentario-general-label">Comentario general de la auditoría</label>
            <textarea class="comentario-general" id="comentario_general" name="comentario_general" rows="4" cols="55" placeholder="Comentario general de la auditoría"">
                {{ comentario_general }}
            </textarea>
            <button type="submit" id="submitBtn" class="btn btn-primary" style="width: 50%;">Enviar y Generar PDF</button>
        </form>
    </div>
<br><br>
<div class="row col-md-12">
    <div class="col-md-4 text-center" style="margin-top: 50px;">
        <div style="border-top: 1px solid black; width: 40%; margin: 0 auto;"></div>
        <p style="font-size: 12px; margin-bottom: 0px; padding-bottom: 0px;">Firma Auditor Líder</p>
    </div>
    <div class="col-md-4 text-center" style="margin-top: 50px;">
        <div style="border-top: 1px solid black; width: 40%; margin: 0 auto;"></div>
        <p style="font-size: 12px; margin-bottom: 0px; padding-bottom: 0px;">Firma Auditores Acompañantes</p>
    </div>
    <div class="col-md-4 text-center" style="margin-top: 50px;">
        <div style="border-top: 1px solid black; width: 40%; margin: 0 auto;"></div>
        <p style="font-size: 12px; margin-bottom: 0px; padding-bottom: 0px;">Firma Responsable de la Empresa</p>
    </div>
</div>
</div>
<br><br>
{% endblock %}
